<div class="chat vh-100 pt-3 ps-5 pe-5">
    <h1 class="text-center">{{this.chatId}}</h1>
    <div class="chat-messages">
        <div *ngFor="let message of chatMessages" class="chat-message">
            <p>{{ message.content }}</p>
            <p class="message-time">{{ message.timestamp | date:'mediumTime' }}</p>
        </div>
        <div *ngFor="let message of chatMessages" class="chat-message text-end">
            <p>{{ message.content }}</p>
            <p class="message-time">{{ message.timestamp | date:'mediumTime' }}</p>
        </div>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Type a message">
      <button class="btn send" type="button">Send</button>
    </div>
  </div>
  