<div class="row">
  <div class="col-md-12">
    <div class="profile-card mt-3">
      <img src="assets/vishal.jpg" alt="Profile Image" class="profile-image">
      <h3 class="profile-name">Vishal Kumar</h3>
      <p class="profile-description">Software Engineer</p>
      <div class="profile-achievements">
        <p class="achievement">Achievement 1</p>
        <p class="achievement">Achievement 2</p>
        <p class="achievement">Achievement 3</p>
      </div>
      <div class="profile-ratings">
        <span class="rating">4.5</span>
        <span class="num-ratings">(120)</span>
      </div>
      <div class="profile-actions">
        <button class="btn-connect">Schedule</button>
        <button class="btn-message">Ping</button>
      </div>
    </div>
  </div>

</div>
<div class="col-md-12">
  <div class="profile-card row">
    <div class="col-md-9">
      <p class="fs-4">Data Structures and Algorithm</p>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">
      <button class="btn-connect">Schedule</button>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="profile-card row">
    <div class="col-md-9">
      <p class="fs-4">Help in scaling system</p>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">
      <button class="btn-connect">Schedule</button>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="profile-card row">
    <div class="col-md-9">
      <p class="fs-4">Help in choosing engneering college</p>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">
      <button class="btn-connect">Schedule</button>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="profile-card row">
    <div class="col-md-9">
      <p class="fs-4">UPSC</p>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">
      <button class="btn-connect">Schedule</button>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="profile-card row">
    <div class="col-md-9">
      <p class="fs-4">SSC CGL</p>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-1">
      <button class="btn-connect">Schedule</button>
    </div>
  </div>
</div>
