<div class="profileContainer">
    <div class="card" style="width: 18rem;">
        <img src="assets/vishal.jpg" class="card-img-top" alt="No image">
        <div class="card-body">
          <h5 class="card-title">{{this.expert.name}}</h5>
          <p class="card-text">{{this.expert.desc}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{this.expert.field1}}</li>
          <li class="list-group-item">{{this.expert.field2}}</li>
          <li class="list-group-item">{{this.expert.field3}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
</div>
