<button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body w-100">
        <button type="button" class="btn-close position-absolute end-0 me-4 bg-dark" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="myform bg-dark">
          <h1 class="text-center">Login Form</h1>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="mb-3 mt-4">
                        <label class="form-label">Username</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-light mt-3">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        LOGIN
                      </button>
                      <p>Not a member? <a href="#">Signup now</a></p>
                    </div>
                </form>



      </div>
      </div>
    </div>
  </div>
</div>

