
.navbar-transparent {
    background: transparent
}

.navbar-nav>li>a {
    color: #fff
}

.navbar-nav>li:hover {
    border-bottom: 1px solid rgb(151, 117, 117)
}

.navbar-nav>.active {
    border-bottom: 1px solid #a15410
}

.navbar-brand {
    font-family: 'Allerta Stencil', sans-serif;
    color: #a15410
}

.navbar-brand:hover {
    color: #769d78
}

.left-side img {
    padding-top: 100px
}

.user:hover {
    border: 2px solid #769d78;
    /* color: #769d78; */
    background-color: #7A0800;
}

.user{
    /* border: 2px solid #7A0800;
    background-color: #7A0800; */
    border: 2px solid #7A0800;
    background-color: #7A0800;
    color: white;
    border:none
}




.title{
    margin-left: 20px;
    margin-right: 10px;
}

/* .headerClass{
    background-color: black !important;
} */

/* .navbar-toggler-icon {
    color: #a15410;
  } */

/*   
  #navbarSupportedContent:not(.collapse){
    background-color: #c4b1af;
  } */