<div class="container-fluid px-0">
  <header>
    <div class="shape"></div>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-transparent">
      <a class="navbar-brand" href="#">Salaah Lo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >HOME <span class="sr-only"></span></a
            >
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Doctor</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Teacher</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Cricketer</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Singer</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Software Engineer</a></li>
          <li class="nav-item position-absolute end-0 me-5 pt-0 btn"><a class="nav-link" href="#">Login</a></li>
        </ul>
      </div>
    </nav>
    <!-- ./ end of navbar -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 left-side">
          <img src="C:\Users\Administrator\Desktop\salaahlo\src\assets\consulting.jpg" class="w-100" />
        </div>
        <div class="col-md-6 right-side">
          <h1>Salaah Lo</h1>
          <p>FREE CALL</p>
          <div class="text-center">
            <button class="btn order-button">CALL NOW</button>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
