<div class="container-fluid px-0 headerClass">
  <header>
    <nav style="background-color: black;" class="navbar fixed-top navbar-expand-lg navbar-transparent">
      <a *ngIf="!salaahDo" class="navbar-brand title fs-4" href="#">Salaah Lo</a>
      <a *ngIf="salaahDo" class="navbar-brand title fs-4" href="#">Salaah Do</a>

      <button class="navbar-toggler" style="background-color: #a15410; margin-right: 15px;" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fs-5" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-center" [class.active]=isFeedActive><a class="nav-link" href="#">Feed</a></li>
          <li class="nav-item text-center" [class.active]=isChatsActive><a class="nav-link" routerLink="/chats">Chats</a></li>
        </ul>
        <ul>
          <span class="nav-item" *ngIf="currentUser === null" (click)="open()">
            <a class="nav-link btn me-4 pt-2" style="color: white;" >Login</a>
          </span>
          <div class="nav-item pt-0 mt-1 btn" *ngIf="currentUser !== null">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-primary user" id="dropdownBasic1" ngbDropdownToggle>
                {{currentUser}}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="openUser()">My Profile</button>
                <button ngbDropdownItem (click)="logout()">LOGOUT</button>
              </div>
            </div>
          </div>

        </ul>
      </div>


    </nav>
  </header>
</div>

<ng-template #userpage let-modal>
  <div class="modal-header myform bg-dark">
    <h4 class="modal-title" id="modal-basic-title">{{currentUsername}}</h4>
  </div>
  <div class="modal-body myform bg-dark">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="logout()">LOGOUT</button>
  </div>
</ng-template>








<!--

  <div class="modal-body w-100 h-100">
    <button type="button" (click)="close()" class="btn-close position-absolute end-0 me-4 bg-dark"></button>
    <div class="myform bg-dark">
      <h1 class="text-center">Signup Form</h1>
      <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div>
          <label class="form-label">Username</label>
          <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': registerSubmitted && registrationDetails.username.errors }" />
          <div *ngIf="registerSubmitted && registrationDetails.username.errors" class="invalid-feedback">
            <div *ngIf="registrationDetails.username.errors.required">Username is required</div>
          </div>
        </div>
        <div>
          <label class="form-label">First Name</label>
          <input type="text" formControlName="firstname" class="form-control"
            [ngClass]="{ 'is-invalid': registerSubmitted && registrationDetails.firstname.errors }" />
          <div *ngIf="registerSubmitted && registrationDetails.firstname.errors" class="invalid-feedback">
            <div *ngIf="registrationDetails.firstname.errors.required">First Name is required</div>
          </div>
        </div>
        <div>
          <label class="form-label">Last Name</label>
          <input type="text" formControlName="lastname" class="form-control"
            [ngClass]="{ 'is-invalid': registerSubmitted && registrationDetails.lastname.errors }" />
          <div *ngIf="registerSubmitted && registrationDetails.lastname.errors" class="invalid-feedback">
            <div *ngIf="registrationDetails.lastname.errors.required">Last Name is required</div>
          </div>
        </div>
        <div>
          <label class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': registerSubmitted && registrationDetails.email.errors }" />
          <div *ngIf="registerSubmitted && registrationDetails.email.errors" class="invalid-feedback">
            <div *ngIf="registrationDetails.email.errors.required">Email is required</div>
          </div>
        </div>
        <div>
          <label class="form-label">Phone Number</label>
          <input type="text" formControlName="phone" class="form-control"
            [ngClass]="{ 'is-invalid': registerSubmitted && registrationDetails.username.errors }" />
          <div *ngIf="registerSubmitted && registrationDetails.username.errors" class="invalid-feedback">
            <div *ngIf="registrationDetails.username.errors.required">Phone Number is required</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': registerSubmitted && registrationDetails.password.errors }" />
          <div *ngIf="registerSubmitted && registrationDetails.password.errors" class="invalid-feedback">
            <div *ngIf="registrationDetails.password.errors.required">Password is required</div>
          </div>
        </div> -->
