@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.container {
    height: 100vh;
}
.right-side {
    padding-top: 150px
}

.right-side h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 2.4em;
    text-align: center
}

.right-side p {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold
}

.btn.order-button {
    background: transparent;
    border: 2px solid #a15410;
    color: #a15410;
    /* border: 2px solid #83ff00;
    color: #83ff00; */
    border-radius: 30%;
    transition: 0.7s
}

.btn.order-button:hover {
    border: 2px solid #c5ba26;
    color: #c5ba26;
    /* border: 2px solid #83ff00;
    color: #83ff00; */
}
